In [1]:
# Package ilaina
import pandas
from itertools import product

# 0- Quelques examples de fonction logique

In [2]:
# identite

def identite(p):
    return p

In [3]:
# negation
def neg_p(p):
    return (not p)

In [4]:
# l'operateur "et"

def p_et_q(p,q):
    return p and q

In [5]:
# L'operateur ou

def p_ou_q(p,q):
    return p or q

In [6]:
# l"operateur "implique"

def p_implique_q(p,q):
    return (not p) or q

In [7]:
# L'operateur equivalence:

def p_equivalent_q(p,q):
    return p_et_q(p_implique_q(p,q) , p_implique_q(q,p))

# 1- Table de verite et forme canoniques d'une fonction logique

In [8]:
def ma_table_de_verite(f):

    """
    f: fonction logique io f io, mitovy amin'ilay ohatra eo ambony. Io no apidirina amin'ity fonction ity.
    return: ny zavatra avoaka dia ny table de verite an'ny fonction f. Natao pandas dataframe izany.
    """

    # 1- alaivo daoly ny boolean variable apesain'ny fonction f, jereo oe firy ny isany: f.__code__.co_argcount no mijery an'izay amin'ny python 
    # [Raha n no isany, dia misy possibilite 2^n ny valeur-any (True na False iany ny variable ray) ]
    
    # 2- Atao lisitra ny valeur possible rehetra, ary calculena ny image-ny par f: product([True,False],repeat = f.__code__.co_argcount). 
    # (Rahe n no isan'ny variable dia 2^n no possibilite satria True na False iany ny variable ray)
    
    valeur_possible = [list(x) + [f(*x)] for x in product([True,False],repeat = f.__code__.co_argcount)]


    # 3- atao table amin'ny pandas dataframe: ny ligne dia ny valeur possible, ny colonne kosa dia ny anaran'ny variable sy f:
    
    table = pandas.DataFrame(valeur_possible, columns = (list(f.__code__.co_varnames) + [f.__name__] )  )


    # FORMES CANONIQUE ========================================================================================================================
    
    liste_variables = list(f.__code__.co_varnames) # alaina ny liste an'ny variable
    
    # 1- premiere form canonique ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    # alaina daoly ny valeur maha True an'ilay f
    verite = table[table[f.__name__] == True]    


    # initializeo ilay forme canonique: mbola tsy misy inin izy eto
    forme_canonique = ""
    
    for i in range(verite.shape[0]): # Manao boucle for isaky ny ligne
        
        for a in liste_variables: # Manao boucle for isaky ny argument an'ilay fonction f
            
            # ra ohatra ka True ny valeur ao dia apina "1"
            if verite.iloc[[i]][a].bool() == True: 
                forme_canonique += "1"
                
            else:
                forme_canonique += "0"

                
        # forme canonique:
        if (i != verite.shape[0]-1):
            forme_canonique += " + "


    # 2- 2em forme canonique +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    # alaina daoly ny valeur maha False an'ilay f
    mensonge = table[table[f.__name__] == False]


    # initializeo ilay forme canonique: mbola tsy misy inin izy eto
    forme_canonique_1 = ""
    
    for i in range(mensonge.shape[0]): # Manao boucle for isaky ny ligne
         forme_canonique_1 += "("
        
         for a in liste_variables: # Manao boucle for isaky ny argument an'ilay fonction f
            
             # ra ohatra ka True ny valeur ao dia apina "0" (Loi de Morgan)
             if mensonge.iloc[[i]][a].bool() == True: 
                 if a != liste_variables[-1]:
                     forme_canonique_1 += "0 + "
                 else:
                     forme_canonique_1 += "0"
             
        
    
                
             else:
                 if a != liste_variables[-1]:
                     forme_canonique_1 += "1 + "
                 else:
                     forme_canonique_1 += "1"
         forme_canonique_1 += ") "

    
    
    # soraty ny valiny farany    
    print("La fonction est: ", f.__name__)
    print("Les variables de la fonction sont (dans cette ordre): ", liste_variables, "\n")
    
    
    print("La forme canonique de ", f.__name__, " est: ", forme_canonique, "\n")

    print("La seconde forme canonique de ", f.__name__, " est: ", forme_canonique_1, "\n")


    print("La table de verite de ", f.__name__, " est: ")   

    
    return table

## Example d'applications

In [9]:
# table de verite de l'identite
ma_table_de_verite(identite)

La fonction est:  identite
Les variables de la fonction sont (dans cette ordre):  ['p']

La forme canonique de  identite  est:  1

La seconde forme canonique de  identite  est:  (1)

La table de verite de  identite  est:

       p  identite
0   True      True
1  False     False

In [10]:
# table de verite de la negation
ma_table_de_verite(neg_p)

La fonction est:  neg_p
Les variables de la fonction sont (dans cette ordre):  ['p']

La forme canonique de  neg_p  est:  0

La seconde forme canonique de  neg_p  est:  (0)

La table de verite de  neg_p  est:

       p  neg_p
0   True  False
1  False   True

In [11]:
# table de verite de 'et'
ma_table_de_verite(p_et_q)

La fonction est:  p_et_q
Les variables de la fonction sont (dans cette ordre):  ['p', 'q']

La forme canonique de  p_et_q  est:  11

La seconde forme canonique de  p_et_q  est:  (0 + 1) (1 + 0) (1 + 1)

La table de verite de  p_et_q  est:

       p      q  p_et_q
0   True   True    True
1   True  False   False
2  False   True   False
3  False  False   False

In [12]:
# table de verite de p_ou_q
ma_table_de_verite(p_ou_q)

La fonction est:  p_ou_q
Les variables de la fonction sont (dans cette ordre):  ['p', 'q']

La forme canonique de  p_ou_q  est:  11 + 10 + 01

La seconde forme canonique de  p_ou_q  est:  (1 + 1)

La table de verite de  p_ou_q  est:

       p      q  p_ou_q
0   True   True    True
1   True  False    True
2  False   True    True
3  False  False   False

In [13]:
#table de verite de p_implique_q
ma_table_de_verite(p_implique_q)

La fonction est:  p_implique_q
Les variables de la fonction sont (dans cette ordre):  ['p', 'q']

La forme canonique de  p_implique_q  est:  11 + 01 + 00

La seconde forme canonique de  p_implique_q  est:  (0 + 1)

La table de verite de  p_implique_q  est:

       p      q  p_implique_q
0   True   True          True
1   True  False         False
2  False   True          True
3  False  False          True

In [14]:
# table de verite de p_equivalent_q
ma_table_de_verite(p_equivalent_q)

La fonction est:  p_equivalent_q
Les variables de la fonction sont (dans cette ordre):  ['p', 'q']

La forme canonique de  p_equivalent_q  est:  11 + 00

La seconde forme canonique de  p_equivalent_q  est:  (0 + 1) (1 + 0)

La table de verite de  p_equivalent_q  est:

       p      q  p_equivalent_q
0   True   True            True
1   True  False           False
2  False   True           False
3  False  False            True